*{
    padding:0;
    margin:0;
    color:#37FF8B;
    text-align: center;
}

html, body{
    background-color: #522B29;
}

.main-container{
    border:4px solid #51D6FF;
    border-radius: 10px;
    margin: 2rem;
    background-color: rgb(50, 50, 50);
}

nav, section, footer, article, aside{
    border: 2px solid #8D9EC6;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width:40%;
    display: inline-block;
    height: 300px;
    background-color: #A06B9A;

}

nav, section, footer{
    background-color: #004E66;
}
