<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarEmpleado</servlet-name>
        <servlet-class>GuardarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarempleado</servlet-name>
        <servlet-class>actualizarempleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrar</servlet-name>
        <servlet-class>borrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarEmpleado</servlet-name>
        <url-pattern>/GuardarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarempleado</servlet-name>
        <url-pattern>/actualizarempleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrar</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
